/* HomePage.css */

.home-layout {
    display: flex;
    min-height: calc(100vh - 60px); /* Adjust based on your header height */
    padding-top: 10px;
  }
  
  .sidebar {
    width: 240px;
    background-color: #f4f4f4;
    padding: 20px;
    border-right: 1px solid #ddd;
  }
  
  .product-list {
    flex: 1;
    padding: 20px;
    background-color: #fff;
  }
  
  